<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="asap20.com.sistempakarpepaya">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".views.activities.MainActivity2"
            android:label="@string/title_activity_main2"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity android:name=".views.activities.LihatData" />
        <activity android:name=".views.activities.Gejala2Activity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".views.activities.HasilDiagnosaActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".views.activities.DetailPenyakitActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".views.activities.TentangActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".views.activities.BantuanActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".views.activities.DiagnosaActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".views.activities.PenyakitActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".views.activities.SplashActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".views.activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>