<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="asap20.com.sistempakarpepaya">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".views.activities.TentangActivity"></activity>
        <activity android:name=".views.activities.BantuanActivity" />
        <activity android:name=".views.activities.RiwayatActivity" />
        <activity android:name=".views.activities.DiagnosaActivity" />
        <activity android:name=".views.activities.PenyakitActivity" />
        <activity
            android:name=".views.activities.SplashActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".views.activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>